.postsFeed a {
  display: block;
  width: 740px;
  margin: 0 auto;
  padding: 20px;
  background-color: red
  margin-top: 50px;
}

.postsFeed figure{
  background-image: url(..images/narkomfin.jpg);
  width: 700px;
  height: 200px;
  margin-bottom: 22px;
}

.postsFeed h2{
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.8);
}

.postsFeed p {
  margin: 7px 0 10px;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 7px;
}
