.menubar{
  heigh: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: block;
  height: 16px;
  width: 180px;
  background-image: url(../images/wikimedium_logo.svg);
}

.about {
  font-size: 14px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.2);
    transition: all .1s ease;
}

.about:hover {
  color: rgba(0, 0, 0, 0.4);
}
